@font-face {
  font-family: 'Abel';
  src: url('@/assets/fonts/Abel.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('@/assets/fonts/BebasNeue.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('@/assets/fonts/OpenSans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
